---
import Navbar from "../components/navbar.jsx";
import "../assets/main.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore my complete web development portfolio and discover how I transform ideas into impactful digital experiences."
    />
    <link rel="shortcut icon" type="image/x-icon" href="/icono.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title id="title-site">Renzo Roggiapane - Portfolio</title>
  </head>
  <body>
    <Navbar client:load />
    <div class="cursor-dot" data-cursor-dot></div>
    <div class="cursor-outline" data-cursor-outline></div>
    <div class="line"></div>
    <div class="inicio">
      <div class="containerTitle">
        <div class="titleText">
          <h1 id="title">Hello! I'm Renzo Roggiapane,</h1>
          <h2 id="typing-text">a full-stack web developer.</h2>
          <div class="social-links-title">
            <a
              href="https://www.linkedin.com/in/renzo-roggiapane-bb4520279/"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a
              href="https://github.com/mrgiann"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-github"></i> GitHub
            </a>
          </div>
        </div>
      </div>
      <div class="containerImg">
        <img src="logo.webp" />
        <video autoplay muted></video>
      </div>
      <div class="scroll-down">
        <a href="#about"><i class="fas fa-chevron-down"></i></a>
      </div>
    </div>
    <div class="inicio2">
      <div id="about">
        <div class="containerAbout" id="aboutSection">
          <div class="aboutText">
            <h1 id="about-me">About me</h1>
            <h5 id="about-me-text">
              I am passionate about technology, creativity and problem solving.
              I excel in web development, interface design and creation of
              interactive applications, always looking for innovative and
              functional solutions.
            </h5>
          </div>
          <div class="studies">
            <h1 id="studies">Studies</h1>
            <h5 id="studies-text">
              I am currently studying at the Instituto Parroquial Industrial
              Cristo Obrero.
            </h5>
          </div>
        </div>
        <div class="certifications">
          <img src="webdesing.webp" class="image" />
        </div>
        <div id="imageModal" class="modal">
          <span class="close"><i class="fas fa-chevron-down"></i></span>
          <img class="modal-content" id="modalImage" />
          <div id="caption"></div>
        </div>
      </div>
    </div>
    <div class="inicio3">
      <div id="projects">
        <h1 id="my-projects">My Projects</h1>
        <div class="containerProyectos">
          <div  class="cardProject">
            <div class="containerImage">
              <img src="tarjetas.webp" alt="Card Generator" />
              <div class="buttons">
                <a
                  href="https://card-generator-renzo.netlify.app/"
                  target="_blank"
                  class="view-project"
                  ><i class="fas fa-external-link-alt"></i id="visit"> Visit</a
                >
                <a
                  href="https://github.com/mrgiann/Card-generator"
                  target="_blank"
                  class="github-link"><i class="fab fa-github"></i> GitHub</a
                >
              </div>
            </div>
            <div class="containerCard">
              <div class="containerTextCard">
                <h2 id="card-generator">Card Generator</h2>
                <p id="card-generator-text">Simple form to generate a card with the entered text.</p>
              </div>
              <div class="containerIconsCard">
                <div class="tech-icons">
                  <i class="fab fa-html5" title="HTML5"></i>
                  <i class="fab fa-css3-alt" title="CSS3"></i>
                  <i class="fab fa-js" title="JavaScript"></i>
                  <i class="fab fa-react" title="React"></i>
                </div>
              </div>
            </div>
          </div>
          <div  class="cardProject">
            <div class="containerImage">
              <img src="clima.webp" alt="Weather App" />
              <div class="buttons">
                <a
                  href="https://mrgiann.github.io/Weather-app/"
                  target="_blank"
                  class="view-project"
                  ><i class="fas fa-external-link-alt"></i id="visit"> Visit</a
                >
                <a
                  href="https://github.com/mrgiann/Weather-app"
                  target="_blank"
                  class="github-link"><i class="fab fa-github"></i> GitHub</a
                >
              </div>
            </div>
            <div class="containerCard">
              <div class="containerTextCard">
                <h2 id="wheather-app">Weather App</h2>
                <p id="wheather-app-text">Weather application with API consumption.</p>
              </div>
              <div class="containerIconsCard">
                <div class="tech-icons">
                  <i class="fab fa-html5" title="HTML5"></i>
                  <i class="fab fa-css3-alt" title="CSS3"></i>
                  <i class="fab fa-js" title="JavaScript"></i>
                  <i class="fas fa-cloud" title="API"></i>
                </div>
              </div>
            </div>
          </div>
          <div  class="cardProject">
            <div class="containerImage">
              <img src="rglibrary.webp" alt="RgLibrary" />
              <div class="buttons">
                <a
                  href="https://rglibrary.netlify.app/"
                  target="_blank"
                  class="view-project"
                  ><i class="fas fa-external-link-alt"></i id="visit"> Visit</a
                >
                <a
                  href="https://github.com/mrgiann/RgLibrary"
                  target="_blank"
                  class="github-link"><i class="fab fa-github"></i> GitHub</a
                >
              </div>
            </div>
            <div class="containerCard">
              <div class="containerTextCard">
                <h2 id="rglibrary">RgLibrary</h2>
                <p id="rglibrary-text">Website with game gallery.</p>
              </div>
              <div class="containerIconsCard">
                <div class="tech-icons">
                  <i class="fab fa-html5" title="HTML5"></i>
                  <i class="fab fa-css3-alt" title="CSS3"></i>
                  <i class="fab fa-bootstrap" title="Bootstrap"></i>
                </div>
              </div>
            </div>
          </div>
          <div  class="cardProject">
            <div class="containerImage">
              <img src="instagramlogin.webp" alt="Instagram Login" />
              <div class="buttons">
                <a
                  href="https://test-ig-login.netlify.app/"
                  target="_blank"
                  class="view-project"
                  ><i class="fas fa-external-link-alt"></i id="visit"> Visit</a
                >
              </div>
            </div>
            <div class="containerCard">
              <div class="containerTextCard">
                <h2 id="instagram-login">Instagram Login</h2>
                <p id="instagram-login-text">
                  Recreation of the Instagram login form, for educational and
                  practical purposes.
                </p>
              </div>
              <div class="containerIconsCard">
                <div class="tech-icons">
                  <i class="fab fa-html5" title="HTML5"></i>
                  <i class="fab fa-css3-alt" title="CSS3"></i>
                  <i class="fab fa-js" title="JavaScript"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inicio4">
      <div id="skills">
        <h1 id="skills-title">Skills</h1>
        <div class="grid-container">
          <div class="containerfrontend">
            <div class="containerhr">
              <h2>Frontend</h2>
              <hr/>
            </div>
            <div class="frontend">
              <a href="https://html.spec.whatwg.org/" target="_blank">
                <div class="icon">
                  <img src="/SVG/html5.svg" alt="HTML5" />
                  <p>HTML5</p>
                </div>
              </a>
              <a href="https://www.w3.org/Style/CSS/" target="_blank">
                <div class="icon">
                  <img src="/SVG/css.svg" alt="CSS" />
                  <p>CSS</p>
                </div>
              </a>
              <a href="https://getbootstrap.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/bootstrap.svg" alt="Bootstrap" />
                  <p>Bootstrap</p>
                </div>
              </a>
              <a href="https://tailwindcss.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/tailwind.svg" alt="Tailwind" />
                  <p>Tailwind</p>
                </div>
              </a>
              <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank">
                <div class="icon">
                  <img src="/SVG/javascript.svg" alt="JavaScript" />
                  <p>JavaScript</p>
                </div>
              </a>
              <a href="https://reactjs.org/" target="_blank">
                <div class="icon">
                  <img src="/SVG/react.svg" alt="React" />
                  <p>React</p>
                </div>
              </a>
              <a href="https://vitejs.dev/" target="_blank">
                <div class="icon">
                  <img src="/SVG/vite.svg" alt="Vite" />
                  <p>Vite</p>
                </div>
              </a>
              <a href="https://angular.io/" target="_blank">
                <div class="icon">
                  <img src="/SVG/angular.svg" alt="Angular" />
                  <p>Angular</p>
                </div>
              </a>
              <a href="https://astro.build/" target="_blank">
                <div class="icon">
                  <img src="/SVG/astro.svg" alt="Astro" />
                  <p>Astro</p>
                </div>
              </a>
            </div>
          </div>
          <div class="containerbackend">
            <div class="containerhr">
              <h2>Backend</h2>
              <hr/>
            </div>
            <div class="backend">
              <a href="https://nodejs.org/" target="_blank">
                <div class="icon">
                  <img src="/SVG/nodejs.svg" alt="Node.js" />
                  <p>Node.js</p>
                </div>
              </a>
              <a href="https://expressjs.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/express.svg" alt="Express.js" />
                  <p>Express.js</p>
                </div>
              </a>
              <a href="https://www.mongodb.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/mongodb.svg" alt="MongoDB" />
                  <p>MongoDB</p>
                </div>
              </a>
            </div>
          </div>
          <div class="containerothers">
            <div class="containerhr">
              <h2 id="other">Other</h2>
              <hr/>
            </div>
            <div class="others">
              <a href="https://git-scm.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/git.svg" alt="Git" />
                  <p>Git</p>
                </div>
              </a>
              <a href="https://github.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/github.svg" alt="GitHub" />
                  <p>GitHub</p>
                </div>
              </a>
              <a href="https://chat.openai.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/openai.svg" alt="ChatGPT" />
                  <p>ChatGPT</p>
                </div>
              </a>
              <a href="https://visualstudio.microsoft.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/visualstudio.svg" alt="Visual Studio" />
                  <p>Visual Studio</p>
                </div>
              </a>
              <a href="https://www.sublimetext.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/sublimetext.svg" alt="Sublime Text" />
                  <p>Sublime Text</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <footer>
      <div id="contact">
        <div class="footer-content">
          <div class="social-links">
            <a
              href="https://www.instagram.com/renzo_hg/"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-instagram"></i><span> Instagram</span>
            </a>
            <a
              href="https://www.linkedin.com/in/renzo-roggiapane-bb4520279/"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-linkedin"></i><span> LinkedIn</span>
            </a>
            <a
              href="https://github.com/mrgiann"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-github"></i><span> GitHub</span>
            </a>
          </div>
          <div class="email">
            <label for="email">Email: </label>
            <input
              type="text"
              id="email"
              value="renzoroggiapanedev@gmail.com"
              readonly
            />
            <button id="copy-btn"
              ><i class="fa fa-copy" style="margin-right: 5px;"></i><span id="copy">Copy</span
              ></button
            >
          </div>
          <p id="thanks-you" class="thank-you">Thank you for visiting my portfolio!</p>
        </div>
      </div>
    </footer>
  </body>
</html>
<script src="../components/scripts.js"></script>
