---
import Navbar from "../components/navbar.jsx";
import "../assets/main.css";

import "aos/dist/aos.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore my complete web development portfolio and discover how I transform ideas into impactful digital experiences."
    />
    <link rel="shortcut icon" type="image/x-icon" href="/icono.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title id="title-site">Renzo Roggiapane - Portfolio</title>
  </head>
  <body>
    <Navbar client:load />

    <div class="inicio">
      <div class="containerTitle">
        <div class="titleText">
          <h1 id="title">Hello! I'm Renzo Roggiapane,</h1>
          <h2 id="typing-text">a full-stack web developer.</h2>
          <div class="social-links-title">
            <a
              href="https://www.linkedin.com/in/renzo-roggiapane-bb4520279/"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a
              href="https://github.com/mrgiann"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-github"></i> GitHub
            </a>
          </div>
        </div>
      </div>
      <div class="containerImg">
        <img src="logo.webp" />
        <video autoplay muted></video>
      </div>
      <div class="scroll-down">
        <a href="#aboutSection"><i class="fas fa-chevron-down"></i></a>
      </div>
    </div>
    <div class="inicio2">
      <div id="about">
        <div class="containerAbout" id="aboutSection">
          <div class="aboutText">
            <h1 id="about-me" data-aos="fade-up" data-aos-delay="100">About me</h1>
            <h5 id="about-me-text" data-aos="fade-up" data-aos-delay="100">
              I am passionate about technology, creativity and problem solving.
              I excel in web development, interface design and creation of
              interactive applications, always looking for innovative and
              functional solutions.
            </h5>
          </div>
          <div class="studies">
            <h1 id="studies" data-aos="fade-up" data-aos-delay="100">Studies</h1>
            <h5 id="studies-text" data-aos="fade-up" data-aos-delay="100">
              I am currently studying at the Instituto Parroquial Industrial
              Cristo Obrero.
            </h5>
          </div>
        </div>
        <div class="certifications">
          <img data-aos="flip-down" src="webdesing.webp" class="image" />
        </div>
        <div id="imageModal" class="modal">
          <span class="close"><i class="fas fa-chevron-down"></i></span>
          <img class="modal-content" id="modalImage" />
          <div id="caption"></div>
        </div>
      </div>
    </div>
    <div class="inicio3">
      <div id="projects">
        <h1 id="my-projects" data-aos="fade-up" data-aos-delay="100">My Projects</h1>
        <div class="containerProyectos">
          <div data-aos="fade-up" data-aos-delay="100"  class="cardProject">
            <div class="containerImage">
              <img src="tarjetas.webp" alt="Card Generator" />
              <div class="buttons">
                <a
                  href="https://card-generator-renzo.netlify.app/"
                  target="_blank"
                  class="view-project"
                  ><i class="fas fa-external-link-alt"></i id="visit"> Visit</a
                >
                <a
                  href="https://github.com/mrgiann/Card-generator"
                  target="_blank"
                  class="github-link"><i class="fab fa-github"></i> GitHub</a
                >
              </div>
            </div>
            <div class="containerCard">
              <div class="containerTextCard">
                <h2 id="card-generator">Card Generator</h2>
                <p id="card-generator-text">Simple form to generate a card with the entered text.</p>
              </div>
              <div class="containerIconsCard">
                <div class="tech-icons">
                  <i class="fab fa-html5" title="HTML5"></i>
                  <i class="fab fa-css3-alt" title="CSS3"></i>
                  <i class="fab fa-js" title="JavaScript"></i>
                  <i class="fab fa-react" title="React"></i>
                </div>
              </div>
            </div>
          </div>
          <div data-aos="fade-up" data-aos-delay="100"  class="cardProject">
            <div class="containerImage">
              <img src="clima.webp" alt="Weather App" />
              <div class="buttons">
                <a
                  href="https://mrgiann.github.io/Weather-app/"
                  target="_blank"
                  class="view-project"
                  ><i class="fas fa-external-link-alt"></i id="visit"> Visit</a
                >
                <a
                  href="https://github.com/mrgiann/Weather-app"
                  target="_blank"
                  class="github-link"><i class="fab fa-github"></i> GitHub</a
                >
              </div>
            </div>
            <div class="containerCard">
              <div class="containerTextCard">
                <h2 id="wheather-app">Weather App</h2>
                <p id="wheather-app-text">Weather application with API consumption.</p>
              </div>
              <div class="containerIconsCard">
                <div class="tech-icons">
                  <i class="fab fa-html5" title="HTML5"></i>
                  <i class="fab fa-css3-alt" title="CSS3"></i>
                  <i class="fab fa-js" title="JavaScript"></i>
                  <i class="fas fa-cloud" title="API"></i>
                </div>
              </div>
            </div>
          </div>
          <div data-aos="fade-up" data-aos-delay="100"  class="cardProject">
            <div class="containerImage">
              <img src="rglibrary.webp" alt="RgLibrary" />
              <div class="buttons">
                <a
                  href="https://rglibrary.netlify.app/"
                  target="_blank"
                  class="view-project"
                  ><i class="fas fa-external-link-alt"></i id="visit"> Visit</a
                >
                <a
                  href="https://github.com/mrgiann/RgLibrary"
                  target="_blank"
                  class="github-link"><i class="fab fa-github"></i> GitHub</a
                >
              </div>
            </div>
            <div class="containerCard">
              <div class="containerTextCard">
                <h2 id="rglibrary">RgLibrary</h2>
                <p id="rglibrary-text">Website with game gallery.</p>
              </div>
              <div class="containerIconsCard">
                <div class="tech-icons">
                  <i class="fab fa-html5" title="HTML5"></i>
                  <i class="fab fa-css3-alt" title="CSS3"></i>
                  <i class="fab fa-bootstrap" title="Bootstrap"></i>
                </div>
              </div>
            </div>
          </div>
          <div data-aos="fade-up" data-aos-delay="100"  class="cardProject">
            <div class="containerImage">
              <img src="instagramlogin.webp" alt="Instagram Login" />
              <div class="buttons">
                <a
                  href="https://test-ig-login.netlify.app/"
                  target="_blank"
                  class="view-project"
                  ><i class="fas fa-external-link-alt"></i id="visit"> Visit</a
                >
              </div>
            </div>
            <div class="containerCard">
              <div class="containerTextCard">
                <h2 id="instagram-login">Instagram Login</h2>
                <p id="instagram-login-text">
                  Recreation of the Instagram login form, for educational and
                  practical purposes.
                </p>
              </div>
              <div class="containerIconsCard">
                <div class="tech-icons">
                  <i class="fab fa-html5" title="HTML5"></i>
                  <i class="fab fa-css3-alt" title="CSS3"></i>
                  <i class="fab fa-js" title="JavaScript"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inicio4">
      <div id="skills">
        <h1 id="skills-title" data-aos="fade-up" data-aos-delay="100" >Skills</h1>
        <div class="grid-container">
          <div class="containerfrontend">
            <div class="containerhr">
              <h2 data-aos="fade-up" data-aos-delay="100">Frontend</h2><hr data-aos="fade-up" data-aos-delay="100"/>
            </div>
            <div class="frontend">
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/html5.svg" alt="HTML5" />
                <p>HTML5</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/css.svg" alt="CSS" />
                <p>CSS</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/bootstrap.svg" alt="Bootstrap" />
                <p>Bootstrap</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/tailwind.svg" alt="Tailwind" />
                <p>Tailwind</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/javascript.svg" alt="JavaScript" />
                <p>JavaScript</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/react.svg" alt="React" />
                <p>React</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/vite.svg" alt="React" />
                <p>Vite</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/angular.svg" alt="Angular" />
                <p>Angular</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/astro.svg" alt="Astro" />
                <p>Astro</p>
              </div>
              </div>
            </div>
          </div>
          <div class="containerbackend">
            <div class="containerhr">
              <h2 data-aos="fade-up" data-aos-delay="100">Backend</h2><hr data-aos="fade-up" data-aos-delay="100"/>
            </div>
            <div class="backend">
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/nodejs.svg" alt="Node.js" />
                <p>Node.js</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/express.svg" alt="Node.js" />
                <p>Express.js</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/mongodb.svg" alt="MongoDB" />
                <p>MongoDB</p>
              </div>
              </div>
            </div>
          </div>
          <div class="containerothers">
            <div class="containerhr">
              <h2 id="other" data-aos="fade-up" data-aos-delay="100">Other</h2><hr data-aos="fade-up" data-aos-delay="100"/>
            </div>
            <div class="others">
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/git.svg" alt="Git" />
                <p>Git</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/github.svg" alt="GitHub" />
                <p>GitHub</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/openai.svg" alt="OpenAI" />
                <p>ChatGPT</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/visualstudio.svg" alt="Visual Studio" />
                <p>Visual Studio</p>
              </div>
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
              <div class="icon">
                <img src="/public/SVG/sublimetext.svg" alt="Sublime Text" />
                <p>Sublime Text</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div id="contact">
        <div class="footer-content">
          <div class="social-links">
            <a
              href="https://www.instagram.com/renzo_hg/"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-instagram"></i><span> Instagram</span>
            </a>
            <a
              href="https://www.linkedin.com/in/renzo-roggiapane-bb4520279/"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-linkedin"></i><span> LinkedIn</span>
            </a>
            <a
              href="https://github.com/mrgiann"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-github"></i><span> GitHub</span>
            </a>
          </div>
          <div class="email">
            <label for="email">Email: </label>
            <input
              type="text"
              id="email"
              value="renzoroggiapanedev@gmail.com"
              readonly
            />
            <button id="copy-btn"
              ><i class="fa fa-copy" style="margin-right: 5px;"></i><span id="copy">Copy</span
              ></button
            >
          </div>
          <p id="thanks-you" class="thank-you">Thank you for visiting my portfolio!</p>
        </div>
      </div>
    </footer>

    <script>
      import AOS from "aos";
      AOS.init();
    </script>
  </body>
</html>
<script src="../components/scripts.js"></script>
