:root {
  --color-navbar: #0B0C0D;
  --color-fondo: #0F0F0F;
  --color-texto: #ffffff;
  --color-fondo-menu: #020202;
  --color-text-secundario: #9e9e9e;
  --color-texto-titulo: #d2d438;
  --color-fondo-titulos: #333333;
  --color-fondo-card: #181818;
  --color-scroll-down: #313131;
  --color-scroll-down-hover: #b4b4b4;
}

@media screen and (min-width: 881px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-navbar);
    border-bottom: 0.063rem solid #333333;
    height: 5rem;
  }

  .container {
    display: flex;
    width: 100%;
  }

  .navbar-links {
    display: flex;
    gap: 1.25rem;
    flex: 1;
    align-items: center;
    margin-left: 5%;
  }

 .navbar-actions {
    display: flex;
    gap: 0.938rem;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
  }

  .menu-title {
    display: none;
  }

  .navbar button {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
  }

  .navbar-links a button {
    color: var(--color-texto);
    font-size: 1.125rem;
    padding: 0.438rem 0.813rem;
    border-radius: 0.188rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 880px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-navbar);
    border-bottom: 0.063rem solid #333333;
    height: 5rem;
  }

  .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .navbar-links {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: var(--color-fondo-menu);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    height: 250px;
  }

  .navbar-links.open {
    display: flex;
  }

  .menu-title {
    color: white;
    font-size: 1rem;
    display: block;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 0;
  }

  .navbar-actions {
    display: flex;
    gap: 0.938rem;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
  }

  .navbar-links a {
    width: 100%;
    margin: 0;
  }

  .navbar-links a button {
    color: var(--color-texto);
    font-size: 1rem;
    padding: 10px 0;
    width: 100%;
    margin: 0;
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: var(--color-fondo-menu);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0;
  }

  .navbar-links a button:hover {
    background-color: #1b1e20;
  }

  .navbar-actions button {
    color: var(--color-texto);
  }

  .menu-toggle {
    display: block;
    font-size: 1.875rem;
    color: var(--color-texto);
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5%;
  }

  .menu-toggle.open {
    color: #aaa;
  }

  .hamburger {
    width: 28px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-texto);
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }

}
.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 50;
  backdrop-filter: blur(0.625rem);
  filter: pixelate(0.625rem);
}

.menu-overlay.open {
  display: block;
}

.language-input {
  cursor: pointer;
  position: relative;
  right: 0.25rem;
}

.language-options {
  display: none;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 0.313rem;
  width: 18.75rem;
  height: 15.625rem;
  z-index: 100; 
  border: 0.063rem solid #ccc;
  padding: 0.313rem;
}


.language-options.open{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--color-fondo-menu);
}

.language-options label {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  bottom: 0.625rem;
}

.language-options label {
  border-bottom: 1px solid white;
  height: 100%;
}

.language-options img {
  width: 1.25rem;
  margin-right: 0.5rem;
}

.language-options input {
  margin-right: 0.625rem;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; 
}

.language-select-container .idioma img{
  width: 2.188rem;
  height: 2.188rem;
}

.language-select-container .idioma{
  margin-top: 0.188rem;
  align-content: center;
}

.navbar-links a button {
  color: var(--color-texto);
  transition: all 0.3s ease;
  border-radius: 0.313rem;
  padding: 0.625rem 0.938rem;
}

.navbar-links a button:hover {
  color: var(--color-texto);
  background-color: var(--color-navbar);
  -webkit-animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


@keyframes shadow-pop-tl {
  0% {
    -webkit-box-shadow: 0 0 var(--color-texto), 0 0 var(--color-texto), 0 0 var(--color-texto), 0 0 var(--color-texto), 0 0 var(--color-texto), 0 0 var(--color-texto), 0 0 var(--color-texto), 0 0 var(--color-texto);
    box-shadow: 0 0 var(--color-texto), 0 0 var(--color-texto), 0 0 var(--color-texto), 0 0 var(--color-texto), 0 0 var(--color-texto), 0 0 var(--color-texto), 0 0 var(--color-texto), 0 0 var(--color-texto);
  }
  100% {
    -webkit-box-shadow: -0.063rem -0.063rem var(--color-texto), -0.125rem -0.125rem var(--color-texto), -0.188rem -0.188rem var(--color-texto), -0.25rem -0.25rem var(--color-texto), -0.313rem -0.313rem var(--color-texto);
    box-shadow: -0.063rem -0.063rem var(--color-texto), -0.125rem -0.125rem var(--color-texto), -0.188rem -0.188rem var(--color-texto), -0.25rem -0.25rem var(--color-texto), -0.313rem -0.313rem var(--color-texto);
  }
}

.theme-options {
  background: var(--color-fondo-menu);
  border: 0.063rem solid #ccc;
  border-radius: 0.313rem;
  padding: 0.313rem;
  display: none;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 18.75rem;
  height: 15.625rem;
  z-index: 100; 
  text-align: center;
}

.theme-options.open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.theme-select-container img{
  width: 2.188rem;
  height: 2.188rem;
  position: relative;
  left: 0.25rem;
  top: 0.063rem;
  cursor: pointer;
}

.theme-options img {
  cursor: pointer;
  margin: 0.313rem;
  width: 1.875rem;
  height: 1.875rem;
  left: 0.625rem;
  top: 0;
}

.theme-option {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  height: 100%;
  border-top: 0.063rem solid white;
  border-bottom: 0.063rem solid white;
  background-color: var(--color-fondo-menu);
}

.theme-option:hover {
  cursor: pointer;
}

.color-circles {
  display: flex;
  position: relative;
  margin-left: 0.625rem;
}

.circle {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  position: relative;
  margin-left: -0.313rem;
  border: 0.063rem solid rgb(121, 121, 121);
}

.theme-options :nth-child(2):hover {
  background-color: #2e2e2e;
  transition: background-color 1s ease;
}

.theme-options :nth-child(3):hover {
  background-color: #2b5061;
  transition: background-color 1s ease;
}

.theme-options :nth-child(4):hover {
  background-color: #46422e;
  transition: background-color 1s ease;
}

.theme-options :nth-child(5):hover {
  background-color: #7e6358;
  transition: background-color 1s ease;
}

.theme-option img,
.theme-option span,
.color-circles {
  pointer-events: none; 
}

.theme-title{
  color: white;
  font-size: 1rem;
}

.language-title{
  color: white;
  font-size: 1rem;
  display: block;
  position: relative;
  border-bottom: 0.063rem solid white;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
.language-options :nth-child(2){
  border-top: 1px solid white;
}
.language-options :nth-child(2):hover {
  background-color: #1b1e20;
}
.language-options :nth-child(3):hover {
  background-color: #1b1e20;
}
.language-options :nth-child(4):hover {
  background-color: #1b1e20;
}
.language-options :nth-child(5):hover {
  background-color: #1b1e20;
}



.theme-input {
  filter: var(--theme-input-filter, none);
  transition: filter 0.3s ease; /* Transición suave al cambiar el tema */
}
.language-input {
  filter: var(--language-input-filter, none);
  transition: filter 0.3s ease; /* Transición suave al cambiar el tema */
}

.theme-input:hover, .language-input:hover{
  transition: transform 0.3s ease;
  transform: scale(1.1);
}
