---
import Navbar from "./navbar.jsx";
import "../../assets/main.css"

import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
// {t('nombre-del-texto')}
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore my complete web development portfolio and discover how I transform ideas into impactful digital experiences."
    />
    <link rel="shortcut icon" type="image/x-icon" href="/icono.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    
    <title id="title-site">{t('title-site')}</title>
  </head>
  <body>
    <Navbar client:load />
    <div class="cursor-dot" data-cursor-dot></div>
    <div class="cursor-outline" data-cursor-outline></div>
    <div class="line"></div>
    <div class="inicio">
      <div class="containerTitle">
        <div class="titleText">
          <h1 id="title">{t('title')}</h1>
          <h2 id="typing-text">{t('typing-text')}</h2>
          <div class="social-links-title">
            <a
              draggable="false" href="https://www.linkedin.com/in/renzo-roggiapane-bb4520279/"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a
              draggable="false" href="https://github.com/mrgiann"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-github"></i> GitHub
            </a>
          </div>
        </div>
      </div>
      <div class="containerImg">
        <img src="../logo.webp" alt="Profile Picture" />
        <video autoplay muted></video>
      </div>
      <div class="scroll-down">
        <a href="#about" aria-label="Ir a la sección Acerca de"><i class="fas fa-chevron-down"></i></a>
      </div>
    </div>
    <div class="inicio2">
      <div id="about">
        <div class="containerAbout" id="aboutSection">
          <div class="aboutText">
            <h1 id="about-me">{t('about-me')}</h1>
            <h2 id="about-me-text">
              {t('about-me-text')}
            </h2>
          </div>
          <div class="studies">
            <h1 id="studies">{t('studies')}</h1>
            <h2 id="studies-text">
              {t('studies-text')}
            </h2>
          </div>
        </div>
        <div class="certifications">
          <img src="../webdesing.webp" alt="Responsive Web Design" class="image" loading="lazy"/>
        </div>
        <div id="imageModal" class="modal">
          <span class="close"><i class="fas fa-chevron-down"></i></span>
          <img class="modal-content modalImage" alt="Certification Responsive Web Design" />
          <div id="caption"></div>
        </div>
      </div>
    </div>
    <div class="inicio3">
      <div id="projects">
        <h1 id="my-projects">{t('my-projects')}</h1>
        <div class="containerProyectos">
          <div  class="cardProject">
            <div class="containerImage">
              <img draggable="false" src="../tarjetas.webp" alt="Card Generator" />
              <div class="buttons">
                <a
                  draggable="false" href="https://card-generator-renzo.netlify.app/"
                  target="_blank"
                  class="view-project"
                  ><i class="fas fa-external-link-alt"></i id="visit"> {t('visit')}</a
                >
                <a
                  draggable="false" href="https://github.com/mrgiann/Card-generator"
                  target="_blank"
                  class="github-link"><i class="fab fa-github"></i> GitHub</a
                >
              </div>
            </div>
            <div class="containerCard">
              <div class="containerTextCard">
                <h2 id="card-generator">{t('card-generator')}</h2>
                <p id="card-generator-text">{t('card-generator-text')}</p>
              </div>
              <div class="containerIconsCard">
                <div class="tech-icons">
                  <img class="icon-project-tec" src="/SVG/html5.svg" alt="HTML5 icon project" loading="lazy"/>
                  <img class="icon-project-tec" src="/SVG/css.svg" alt="CSS icon project" loading="lazy"/>
                  <img class="icon-project-tec" src="/SVG/javascript.svg" alt="JavaScript icon project" loading="lazy"/>
                  <img class="icon-project-tec" src="/SVG/react.svg" alt="React icon project" loading="lazy"/>
                </div>
              </div>
            </div>
          </div>
          <div  class="cardProject">
            <div class="containerImage">
              <img draggable="false" src="../clima.webp" alt="Weather App" />
              <div class="buttons">
                <a
                  draggable="false" href="https://mrgiann.github.io/Weather-app/"
                  target="_blank"
                  class="view-project"
                  ><i class="fas fa-external-link-alt"></i id="visit"> {t('visit')}</a
                >
                <a
                  draggable="false" href="https://github.com/mrgiann/Weather-app"
                  target="_blank"
                  class="github-link"><i class="fab fa-github"></i> GitHub</a
                >
              </div>
            </div>
            <div class="containerCard">
              <div class="containerTextCard">
                <h2 id="wheather-app">{t('wheather-app')}</h2>
                <p id="wheather-app-text">{t('wheather-app-text')}</p>
              </div>
              <div class="containerIconsCard">
                <div class="tech-icons">
                  <img class="icon-project-tec" src="/SVG/html5.svg" alt="HTML5 icon project" loading="lazy"/>
                  <img class="icon-project-tec" src="/SVG/css.svg" alt="CSS icon project" loading="lazy"/>
                  <img class="icon-project-tec" src="/SVG/javascript.svg" alt="JavaScript icon project" loading="lazy"/>
                  <img class="icon-project-tec" src="/SVG/api.svg" alt="Api icon project" loading="lazy"/>
                </div>
              </div>
            </div>
          </div>
          <div  class="cardProject">
            <div class="containerImage">
              <img draggable="false" src="../rglibrary.webp" alt="RgLibrary" />
              <div class="buttons">
                <a
                  draggable="false" href="https://rglibrary.netlify.app/"
                  target="_blank"
                  class="view-project"
                  ><i class="fas fa-external-link-alt"></i id="visit"> {t('visit')}</a
                >
                <a
                  draggable="false" href="https://github.com/mrgiann/RgLibrary"
                  target="_blank"
                  class="github-link"><i class="fab fa-github"></i> GitHub</a
                >
              </div>
            </div>
            <div class="containerCard">
              <div class="containerTextCard">
                <h2 id="rglibrary">{t('rglibrary')}</h2>
                <p id="rglibrary-text">{t('rglibrary-text')}</p>
              </div>
              <div class="containerIconsCard">
                <div class="tech-icons">
                  <img class="icon-project-tec" src="/SVG/html5.svg" alt="HTML5 icon project" loading="lazy"/>
                  <img class="icon-project-tec" src="/SVG/css.svg" alt="CSS icon project" loading="lazy"/>
                  <img class="icon-project-tec" src="/SVG/bootstrap.svg" alt="Bootstrap icon project" loading="lazy"/>
                </div>
              </div>
            </div>
          </div>
          <div  class="cardProject">
            <div class="containerImage">
              <img draggable="false" src="../instagramlogin.webp" alt="Instagram Login" />
              <div class="buttons">
                <a
                  draggable="false" href="https://test-ig-login.netlify.app/"
                  target="_blank"
                  class="view-project"
                  ><i class="fas fa-external-link-alt"></i id="visit"> {t('visit')}</a
                >
              </div>
            </div>
            <div class="containerCard">
              <div class="containerTextCard">
                <h2 id="instagram-login">{t('instagram-login')}</h2>
                <p id="instagram-login-text">
                  {t('instagram-login-text')}
                </p>
              </div>
              <div class="containerIconsCard">
                <div class="tech-icons">
                  <img class="icon-project-tec" src="/SVG/html5.svg" alt="HTML5 icon project" loading="lazy"/>
                  <img class="icon-project-tec" src="/SVG/css.svg" alt="CSS icon project" loading="lazy"/>
                  <img class="icon-project-tec" src="/SVG/javascript.svg" alt="JavaScript icon project" loading="lazy"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inicio4">
      <div id="skills">
        <h1 id="skills-title">{t('skills-title')}</h1>
        <div class="grid-container">
          <div class="containerfrontend">
            <div class="containerhr">
              <h2>Frontend</h2>
              <hr/>
            </div>
            <div class="frontend">
              <a draggable="false" href="https://html.spec.whatwg.org/" target="_blank">
                <div class="icon">
                  <img src="/SVG/html5.svg" alt="HTML5 icon" loading="lazy"/>
                  <p>HTML5</p>
                </div>
              </a>
              <a draggable="false" href="https://www.w3.org/Style/CSS/" target="_blank">
                <div class="icon">
                  <img src="/SVG/css.svg" alt="CSS icon" loading="lazy"/>
                  <p>CSS</p>
                </div>
              </a>
              <a draggable="false" href="https://getbootstrap.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/bootstrap.svg" alt="Bootstrap icon" loading="lazy"/>
                  <p>Bootstrap</p>
                </div>
              </a>
              <a draggable="false" href="https://tailwindcss.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/tailwind.svg" alt="Tailwind icon" loading="lazy"/>
                  <p>Tailwind</p>
                </div>
              </a>
              <a draggable="false" href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank">
                <div class="icon">
                  <img src="/SVG/javascript.svg" alt="JavaScript icon" loading="lazy"/>
                  <p>JavaScript</p>
                </div>
              </a>
              <a draggable="false" href="https://reactjs.org/" target="_blank">
                <div class="icon">
                  <img src="/SVG/react.svg" alt="React icon" loading="lazy"/>
                  <p>React</p>
                </div>
              </a>
              <a draggable="false" href="https://vitejs.dev/" target="_blank">
                <div class="icon">
                  <img src="/SVG/vite.svg" alt="Vite icon" loading="lazy"/>
                  <p>Vite</p>
                </div>
              </a>
              <a draggable="false" href="https://angular.io/" target="_blank">
                <div class="icon">
                  <img src="/SVG/angular.svg" alt="Angular icon" loading="lazy"/>
                  <p>Angular</p>
                </div>
              </a>
              <a draggable="false" href="https://astro.build/" target="_blank">
                <div class="icon">
                  <img src="/SVG/astro.svg" alt="Astro icon" loading="lazy"/>
                  <p>Astro</p>
                </div>
              </a>
            </div>
          </div>
          <div class="containerbackend">
            <div class="containerhr">
              <h2>Backend</h2>
              <hr/>
            </div>
            <div class="backend">
              <a draggable="false" href="https://nodejs.org/" target="_blank">
                <div class="icon">
                  <img src="/SVG/nodejs.svg" alt="Node.js icon" loading="lazy"/>
                  <p>Node.js</p>
                </div>
              </a>
              <a draggable="false" href="https://expressjs.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/express.svg" alt="Express.js icon" loading="lazy"/>
                  <p>Express.js</p>
                </div>
              </a>
              <a draggable="false" href="https://www.mongodb.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/mongodb.svg" alt="MongoDB icon" loading="lazy"/>
                  <p>MongoDB</p>
                </div>
              </a>
            </div>
          </div>
          <div class="containerothers">
            <div class="containerhr">
              <h2 id="other">{t('other')}</h2>
              <hr/>
            </div>
            <div class="others">
              <a draggable="false" href="https://git-scm.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/git.svg" alt="Git icon" loading="lazy"/>
                  <p>Git</p>
                </div>
              </a>
              <a draggable="false" href="https://github.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/github.svg" alt="GitHub icon" loading="lazy"/>
                  <p>GitHub</p>
                </div>
              </a>
              <a draggable="false" href="https://chat.openai.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/openai.svg" alt="ChatGPT icon" loading="lazy"/>
                  <p>ChatGPT</p>
                </div>
              </a>
              <a draggable="false" href="https://visualstudio.microsoft.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/visualstudio.svg" alt="Visual Studio icon" loading="lazy"/>
                  <p>Visual Studio</p>
                </div>
              </a>
              <a draggable="false" href="https://www.sublimetext.com/" target="_blank">
                <div class="icon">
                  <img src="/SVG/sublimetext.svg" alt="Sublime Text icon" loading="lazy"/>
                  <p>Sublime Text</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div id="contact">
        <div class="footer-content">
          <div class="social-links">
            <a
              draggable="false" href="https://www.instagram.com/renzo_hg/"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-instagram"></i><span> Instagram</span>
            </a>
            <a
              draggable="false" href="https://www.linkedin.com/in/renzo-roggiapane-bb4520279/"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-linkedin"></i><span> LinkedIn</span>
            </a>
            <a
              draggable="false" href="https://github.com/mrgiann"
              target="_blank"
              class="social-icon"
            >
              <i class="fab fa-github"></i><span> GitHub</span>
            </a>
          </div>
          <div class="email">
            <label for="email">Email: </label>
            <input
              autocomplete="on"
              type="text"
              id="email"
              value="renzoroggiapanedev@gmail.com"
              readonly
            />
            <button id="copy-btn"
              ><i class="fa fa-copy" style="margin-right: 5px;"></i><span id="copy">{t('copy')}</span
              ></button
            >
          </div>
          <p id="thanks-you" class="thank-you">{t('thank-you')}</p>
        </div>
      </div>
    </footer>
  </body>
</html>
<script src="../../components/scripts.js"></script>
